/* цвет основного текста #212121 */
/* цвет фона #FFFFFF */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */

:root {
--primary-text-color: #212121; 
--secondary-text-color: #757575;
--accent-color: #2196f3;
--primary-white-color: #FFFFFF;
}

body {
    background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
/*веб студио*/
/*header*/
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.logo-web {
  color: #2196f3;
}

.header-logo-studio {
  color: black;
}

.page {
  color: inherit;
}

.site-nav .page:hover,
.site-nav .page:focus {
  color: var(--accent-color);
}

.site-nav .page.current-veb {
  color: var(--accent-color);
}

.site-nav .page.current-portfolio {
  color: var(--accent-color);
}

.contacts .contacts-mail {
  color: var(--secondary-text-color);
}

.contacts .contacts-mail:hover,
.contacts .contacts-mail:focus {
  color: var(--accent-color);
}

.contacts .contacts-tel {
  color: var(--secondary-text-color);
}

.contacts .contacts-tel:hover,
.contacts .contacts-tel:focus {
  color: var(--accent-color);
}

/*hero*/
.hero {
  color: #fff;
}

/*преимущества*/
.details-desc {
  color: var(--secondary-text-color);
}

/*услуги*/
.services-features {
  color: #fff;
}

/*команда*/
.employees-position {
  color: var(--secondary-text-color);
}

/*футер*/
.logo-studio {
  color: #fff;
}

.footer-adress {
  color: #fff;
}

.footer-join-in {
  color: #fff;
}

.footer-subscribe {
  color: #fff;
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.author {
  color: rgba(255, 255, 255, 0.4);
}

/*портфолио*/
.project {
  color: var(--primary-text-color);
}

.project-type {
  color: var(--secondary-text-color);
}

.project-desc {
  color: white;
}

/*button*/
.button-veb {
 color: var(--primary-white-color);
 background-color: var(--accent-color);
}

.button-demo {
  color: var(--primary-text-color);
  background-color: #F5F4FA;
 }

.button-demo:hover,
.button-demo:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

 .button-footer {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
 }


 #F5F4FA