body {
  background-color: #fff;
  color:#757575;
}
/* Применится ко всем абзацам на странице */
p {
  font-size: 24px;
}

/* Применится ко всем ссылкам на странице */
a {
  text-decoration: none;
}
/* цвет основного текста #000000 */
/* первичный цвет преимущества #212121 */
/* вторичный цвет текста преимуществ #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */

